// Components
@import './GameBoardBorder/styles';
@import './GameBoardSpot/styles';

.game-board {
  position: absolute;
  top: 12.5vw;
  left: 25vw;
  width: 50vw;

  @include fadeIn($delay: 1s);
}

.screen-transition-leave .game-board {
  @include fadeOut();
}
