.winner-message {
  position: absolute;
  top: 12.5vw;
  left: 25vw;
  width: 50vw;
  height: 50vw;
  background: transparentize($color-white, 0.1);
  border-radius: 100%;
}

.winner-message-enter {
  @include bounceIn();
}

.winner-message-leave {
  @include bounceOut();
}

.winner-message-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-family;
  font-size: 2rem;
}

.winner-message-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.winner-message-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0.5rem;
  background: none;
  font-family: $font-family;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
  outline: none;

  &:hover {
    color: $color-red;
  }
}
